// GLOBAL RULES ///////////////////////////////////////////
body {
  background: #604878; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #604878 , #001848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #604878 , #001848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: lightgray;
  width: 100%;
  height: 100vh;
  font-family: 'Hind', sans-serif;
  background-attachment: fixed;
}

button {
  background-color: #428bca;
  color: lightgray;
  font-size: 18px;
  border-radius: 2%;
  font-weight: 600;
  border: none;
}

input {
  border: 1px solid white;
}

button:hover {
  background-color: #214565;
}

a {
  text-decoration: none;
}

label {
  font-size: 24px;
}

li {
  list-style: none;
}

// add padding under order button
// Current Order (make look like a receipt) background-color
// order form have names to the left top.
// background attachment fixed

// LANDING PAGE CONTAINER RULES //////////////////////////////////////

.landing-page-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.landing-page-container h2 {
  font-family: 'hind', sans-serif;
  font-weight: 400;
}

.landing-page-title {
  margin-top: 50px;
}

.landing-page-login button {
  
}

// LANDING PAGE SIGNUP RULES //////////////////////////
.landing-page-signup {
  margin-top: 100px;
  height: 100%;
}

.landing-page-signup button {
  margin: 10px 0 0 0;
  padding: 10px 50px;
  border-radius: 5px;

}

// LANDING PAGE CONNECT RULES ///////////////////////////////

.landing-page-connect {
  margin-top: 100px;
}

.landing-page-connect button {
  margin: 20px 62px;
  padding: 10px 50px;
  border-radius: 5px;
  display: block;
  text-align: center;
}

.landing-page-connect input {
  margin-top: 5px;
  padding: 10px;
  background: transparent;
  color: lightgray
}

// SIGNUP PAGE RULES /////////////////////////////////////

.signup-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.signup-page-header {
  margin: 40px 0;
}

.signup-page-form input,
.signup-page-form button {
  display: block;
}

.signup-page-form input {
  margin: 10px 42px;
  width: 200px;
  padding: 15px 5px;
  background: transparent;
  color: lightgray
}

.signup-page-form button {
  margin: 40px 72px;
  padding: 15px 50px
}


// LOGIN PAGE RULES /////////////////////////////////////

.login-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.login-page-header {
  margin: 40px 0;
}

.login-page-form input,
.login-page-form button {
  display: block;
}

.login-page-form input {
  margin: 10px 42px;
  width: 200px;
  padding: 15px 5px;
  background: transparent;
  color: lightgray
}

.login-page-form button {
  margin: 40px 72px;
  padding: 15px 50px
}

// CLIENT DASHBOARD PAGE RULES /////////////////////////////
.client-dash-conatiner {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

// CLIENT PAGE MENU LIST RULES ///////////////////////////

.client-page-menu-list {
  font-size: 14px;
  background-color: transparent;
  margin: 10px 20px;
}

.client-page-menu-list ul {
  border-radius: 5%;
  padding: 10px 0;
  background-color: transparent;
}

.client-page-menu-list li {
  background-color: #001848;
  margin: 20px 37px 20px 37px;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 10px;
}

.client-page-menu-list h1 {
  font-size: 18px;
}

.client-page-menu-list h3 {
  font-size: 14px;

}

// CLIENT PAGE ORDER LIST RULES ///////////////////////////

.client-page-order-list {
  font-size: 14px;
  background-color: transparent;
  margin: 10px 0px 10px 20px;
  padding: 10px;
  color: black;
  text-align: center;
}

.client-page-order-list ul {
  border-radius: 5px;
  background-color: lightgray;
  margin: 0 40px 0 0;
  padding: 10px 0;
}

.client-page-order-list li:first-child {
  font-size: 24px;
  font-weight: bold;
}

.client-page-order-list li {
  border-bottom: 2px solid black;
  margin: 20px 37px 20px 37px;
  text-align: center;
}

.client-page-order-list h1 {
  font-size: 18px;
  margin: 0 20px 0 0;
}

.client-page-order-list li h1 {
  font-size: 18px;
  margin: 0;
}

.client-page-order-list p {
  font-size: 14px;
}

// CLIENT PAGE FORM RULES ////////////////////////////////

.client-page-form {
  background: lightgray;
  color: black;
  border-radius: 5%;
  margin: 0 40px 20px 20px;
  text-align: center;
}

.client-form-name,
.client-form-table,
.client-form-email {
  text-align: center;
  margin: 20px 140px;
}


.client-page-form input {
  margin: 10px 60px;
  width: 200px;
  display: block;
  padding: 5px 5px;
  background: transparent;
  color: black;
  text-align: center;
}

.client-page-form button {
  margin: 10px 125px 20px
}
