// GLOBAL RULES ///////////////////////////////////////////
body {
  background: #604878; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #604878 , #001848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #604878 , #001848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: lightgray;
  width: 100%;
  height: 100vh;
  font-family: 'Hind', sans-serif;
  background-attachment: fixed;
  box-sizing: border-box;
}

button {
  background-color: #428bca;
  color: lightgray;
  font-size: 18px;
  border-radius: 2%;
  font-weight: 600;
  border: none;
}

input {
  border: 1px solid white;
}

button:hover {
  background-color: #214565;
}

a {
  text-decoration: none;
}

label {
  font-size: 24px;
}

li {
  list-style: none;
}

// add padding under order button
// Current Order (make look like a receipt) background-color
// order form have names to the left top.
// background attachment fixed

// LANDING PAGE CONTAINER RULES //////////////////////////////////////

.landing-page-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.landing-page-container h2 {
  font-family: 'hind', sans-serif;
  font-weight: 400;
}

.landing-page-title {
  margin-top: 50px;
}

.landing-page-login {
  margin-top: 100px;
}

.landing-page-login button {
  margin: 10px 0 0 0;
  padding: 10px 50px;
  border-radius: 5px;
}


// LANDING PAGE CONNECT RULES ///////////////////////////////

.landing-page-connect {
  margin-top: 100px;
}

.landing-page-connect button {
  margin: 20px 62px;
  padding: 10px 50px;
  border-radius: 5px;
  display: block;
  text-align: center;
}

.landing-page-connect input {
  margin-top: 5px;
  padding: 10px;
  background: transparent;
  color: lightgray
}

// SIGNUP PAGE RULES /////////////////////////////////////

.signup-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.signup-page-header {
  margin: 40px 0;
}

.signup-page-form input,
.signup-page-form button {
  display: block;
}

.signup-page-form input {
  margin: 10px 42px;
  width: 200px;
  padding: 15px 5px;
  background: transparent;
  color: lightgray
}

.signup-page-form button {
  margin: 40px 62px;
  width: 165px;
  height: 50px;
  border-radius: 5px;
}


// LOGIN PAGE RULES /////////////////////////////////////

.login-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.login-page-header {
  margin: 40px 0;
}

.login-page-form input,
.login-page-form button {
  display: block;
}

.login-page-form input {
  margin: 10px auto;
  width: 200px;
  padding: 15px 5px;
  background: transparent;
  color: lightgray
}

.login-page-form button {
  margin: 40px auto 50px;
  width: 165px;
  height: 50px;
  border-radius: 5px;
}

// LOGIN PAGE SIGNUP RULES //////////////////////////

.login-page-signup h3 {
  font-size: 24px;
  margin: 0 auto 20px;
}

.login-page-signup button {
  margin: 10px auto 0;
  width: 165px;
  height: 50px;
  border-radius: 5px;

}

// CLIENT DASHBOARD PAGE RULES /////////////////////////////
.client-dash-conatiner {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.client-dash-container h1 {
  text-align: center;
}

// CLIENT PAGE MENU LIST RULES ///////////////////////////

.client-page-menu-list {
  font-size: 14px;
  background-color: transparent;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.client-page-menu-list ul {
  text-align: center;
  width: 350px;
  margin: 0 auto;
  border-radius: 5%;
  padding: 10px 0;
  background-color: transparent;
}

.client-page-menu-list li {
  background-color: rgba(0, 24, 72, 0.2);
  margin: 20px auto;
  height: 175px;
  width: 300px;
  text-align: center;
  border-radius: 12px;
  padding: 10px 0;
}

.client-page-menu-list h1 {
  font-size: 18px;
}

.client-page-menu-list h3 {
  font-size: 14px;

}

// CLIENT PAGE ORDER LIST RULES ///////////////////////////

.client-page-order-list {
  font-size: 14px;
  background-color: transparent;
  margin: 20px auto;
  width: 300px;
  color: white;
  text-align: center;
}

.client-page-order-list ul {
  border-radius: 15px;
  background:rgba(200,200,200,0.1);
  padding: 10px 0;
}

.client-page-order-list li:first-child {
  font-size: 24px;
  font-weight: bold;
}

.client-page-order-list li {
  border-bottom: 2px solid black;
  margin: 20px 37px 20px 37px;
  text-align: center;
}

.client-page-order-list h1 {
  font-size: 18px;
  margin: 0 20px 0 0;
}

.client-page-order-list li h1 {
  font-size: 18px;
  margin: 0;
}

.client-page-order-list li button {
  border-radius: 5px;
  font-size: 14px;
}

.client-page-order-list p {
  font-size: 14px;
}

// CLIENT PAGE FORM RULES ////////////////////////////////

.client-page-form {
  background: rgba(255,255,255,0.1);
  color: white;
  border-radius: 12px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

.client-form-name,
.client-form-table,
.client-form-email {
  text-align: center;
  margin: 0 auto;
}


.client-page-form input {
  margin: 0 auto;
  width: 200px;
  display: block;
  padding: 5px 5px;
  background: transparent;
  color: white;
  text-align: center;
}

.client-page-form button {
  margin: 20px auto;
  border-radius: 5px;
}

// BUSINESS PAGE RULES ////////////////////////////

.business-dash-container {
  width: 768px;
  margin: 0 auto;
  text-align: center;
}

.business-dash-header {
  margin: 0 auto;
  text-align: center;
}

.business-dash-header h1 {
font-size: 44px;
}

.business-dash-header h3 {
  font-size: 28px
}

// BUSINESS PAGE ORDER QUEUE  RULES //////////////////

.business-dash-orders-queue {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.business-dash-orders-queue ul {

}

.business-dash-orders-queue li {
  margin: 10px;
  width: 200px;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  border: 2px solid black;
  padding: 5px;
}

.business-dash-orders-queue li ol li {
  border: none;
  margin: -20px 0;
  padding: 0;
  text-align: left;
  list-style: georgian;
}

.business-dash-orders-queue li ol li p {
  border: none;
}

.business-dash-orders-queue li p {
  border-bottom: 2px solid black;
}

.business-dash-orders-queue li button {
  margin-left: 20px;
  border-radius: 12px;
}

// BUSINESS PAGE MENU RULES //////////////////////






















//
